body {
    background: url('https://static.vecteezy.com/system/resources/previews/002/072/390/original/spring-flower-frame-background-free-vector.jpg');
    background-repeat:  no-repeat;
    background-size:  cover;
}